
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin: 10px;
    padding: 6px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  
  .col {
    flex: 1 0 auto;
  }